
CustomerManagement/CustomerPortal/CustomerPortal.csproj.user
CustomerManagement/.vs/CustomerManagement/v17/.suo
CustomerManagement/.vs/CustomerManagement/v17/DocumentLayout.json
/CustomerManagement/CustomerPortal/obj
/CustomerManagement/.vs
/CustomerManagement/CustomerPortal/bin/Debug
/CustomerManagement/CustomersApi/bin/Debug
/CustomerManagement/CustomersApi/obj/Debug
