
CustomerManagement/CustomerPortal/CustomerPortal.csproj.user
CustomerManagement/.vs/CustomerManagement/v17/.suo
CustomerManagement/.vs/CustomerManagement/v17/DocumentLayout.json
/CustomerManagement/CustomerPortal/obj
/CustomerManagement/.vs
